.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.price { font-family: monospace; font-size: 0.9rem; }
.negtive { margin-left: -0.5rem; }
.tg_name a:link, .tg_name a:visited {color:#000; text-decoration: none;}
.tg_name a:hover, .tg_name a:active {text-decoration:underline;}
.pfbtn ul button {margin-bottom:10px;}
#sharenums { font-size: 0.6rem; }
#neat_val {
    background-color:#F1F1F1;
    margin: 1em auto;
    display:block;
    font-family: monospace;
    font-size: 14px;
    min-width: 270px;
    width: 100px;
    line-height: 1.2em;
    height: 0;
    overflow-y: hidden; /* fixes scrollbar flash - kudos to @brettjonesdev */
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
#data_table_div th {font-size:80%;}
#data_table_div tr.reddata { background-color:#FFA7A7;}
#data_table_div tr.greendata { background-color:#A9FFC4;}
.inputsec textarea { padding:0; height: 100px; width:100%;}
