html { overflow-x: hidden; overflow-y:scroll;}
body { margin-bottom: 40px;}
button span {margin:0 5px;}
.input_row { margin-top: 20px;}
.nav_row { margin: 5px 0 10px 0;}
.right { float: right; }
.price { font-family: monospace; font-size: 1.2em; }
.negtive { margin-left:-0.6em; }
.tg_name a:link, .tg_name a:visited {color:#000; text-decoration: none;}
.tg_name a:hover, .tg_name a:active {text-decoration:underline;}
.main_container { margin: 5px auto; max-width: 1000px;}
.section { margin: 10px auto; }

.menusec { position: fixed; }
.pfmenu { }
.pfmenu li, .pfmenu .btnplus {width:60%; margin:0 auto;}
.pfmenu button {font-size:80%; width:100%; margin-bottom: 10px; }




#sharenums { padding:0; height: 100px; width:100%;}
#neat_val {
    background-color:#F1F1F1;
    margin: 1em auto;
    display:block;
    font-family: monospace;
    font-size: 14px;
    min-width: 270px;
    width: 100px;
    line-height: 1.2em;
    min-height: 22px;
    overflow-y: hidden; /* fixes scrollbar flash - kudos to @brettjonesdev */
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
#data_table_div th {font-size:80%;}
#data_table_div tr.reddata { background-color:#FFA7A7;}
#data_table_div tr.greendata { background-color:#A9FFC4;}

.inputsec {
    font-size: 12px;
    position:fixed;
    overflow: hidden;
    bottom:0;
    width: 160px;
    margin-left:30px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.btn-small {
    font-size: 70%;
}

#data_table_div .tooltip-inner {
    max-width: 800px;
}
