button span.glyphicon {margin:0 5px;}
.price { font-family: monospace; font-size: 1.2em; }
.negtive { margin-left:-0.6em; }
.tg_name a:link, .tg_name a:visited {color:#000; text-decoration: none;}
.tg_name a:hover, .tg_name a:active {text-decoration:underline;}
.pfbtn ul button {margin-bottom:10px;}
#neat_val {
    background-color:#F1F1F1;
    margin: 1em auto;
    display:block;
    font-family: monospace;
    font-size: 14px;
    min-width: 270px;
    width: 100px;
    line-height: 1.2em;
    height: 0;
    overflow-y: hidden; /* fixes scrollbar flash - kudos to @brettjonesdev */
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
#data_table_div th {font-size:80%;}
#data_table_div tr.reddata { background-color:#FFA7A7;}
#data_table_div tr.greendata { background-color:#A9FFC4;}

.inputsec textarea { padding:0; height: 100px; width:100%;}

#data_table_div .tooltip-inner {
    max-width: 800px;
}
#data_table_div .tooltip.right .tooltip-inner {
    background-color:#fff;
}
#data_table_div .tooltip.right .tooltip-arrow {
    border-top-color:#fff;
}

.popover {
  max-width: 600px;
}
