[Unit]
Description=redtool
After=network.target

[Service]
Environment=DEBUG=redtool:*
Environment=NODE_ENV=production
Restart=always
WorkingDirectory=/srv/ptcoding/redtool/
ExecStart=/srv/ptcoding/redtool/bin/www
User=boypt
Group=boypt

[Install]
WantedBy=multi-user.target
