{% extends "base_layout.html" %}

{% block content %}
    {% if is_twitter_missing is undefined %}
        <h2>Retweets since {{ since_time|default('nodef') }} via {{ twitter_id|default('nodef') }}</h2>
        <div id="tweet_list_container">
            <ul id="twitter_list">
                {% for t in tweets %}
                <li class="{{ loop.cycle('odd', 'even') }}"><span class="time" utc="{{ t.retweet_time.strftime(datefmt) }}">{{ (t.retweet_time + tzdelta).strftime(datefmt_short) }}</span><p>{{ t.tweet_text|safe }}</p></li>
                {% endfor %}
            </ul>
        </div>
        <div id="more"><a href="#">More</a></div>
    {% else %}
        <h2>{{ message }}</h2>
    {% endif %}

<script type="text/javascript" src="/static/ba-linkify.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
    $('ul#twitter_list li').each(function(){
        var that = $(this);
        that.html(linkify(that.html()));
    });
    $("#more a").click(function () {
        var t = $("ul#twitter_list li span.time:last").attr("utc");
        $.getJSON('/review_tweets', {to_time: t}, function(data) {
            if (data.length > 0) {
                var list = $("ul#twitter_list");
                $.each(data, function(i, t) {
                    var li = $('<li class=""><span class="time" utc="' + t.retweet_time + '">' + t.local_time + '</span><p>' + linkify(t.tweet_text) + '</p></li>');
                    if ( i % 2 == 0 ) $(li).addClass("odd");
                    list.append(li);
                });
            }
            else {
                $("#more").text("No More");
            }
        });
        return false;
    });

});
</script>

{% endblock %}

